.theme-light {
    // 背景
    --color-bg: #fff;
    --color-aside-bg: #ECF5FF; 
    --color-option-bar-bg: #6DA5F7; 
    --color-icon-bg-option-bar: #6DA5F7;
    --color-icon-bg-option-bar-hover: #CADBF9;
    --color-icon-bg-option-bar-active: #CADBF9;

    // 文本
    --color-text: #000;
    --color-text-disable: #DCE8F8; // #858585;
    --color-text-active: #409EFF;

    // 图标
    --color-icon: #000;
    --color-icon-dark: #858585;
    --color-icon-hover: #DCE8F8;
    --color-icon-active: #409EFF;
    --color-icon-option-bar: #fff;
    --color-icon-option-bar-hover: #fff;
    --color-icon-option-bar-active: #3366FF;


    // 分割线
    --color-split-line: #D8DEE4;
}

.theme-dark {
    --color-bg: #1E1E1E;
    --color-aside-bg: #252526;
    --color-option-bar-bg: #333333;
    --color-text: #fff;
    --color-text-dark: #858585;
    --color-text-light: #409EFF;
    --color-icon: #fff;
    --color-icon-dark: #858585;
    --color-icon-light: #409EFF;
    --color-split-line: #D8DEE4;
}

