.theme--light {
    // 背景
    --color-bg: #fff;
    --color-aside-bg: #fff; // #ECF5FF; 
    --color-option-bar-bg: #6DA5F7;
    --color-icon-bg-option-bar: #6DA5F7;
    --color-icon-bg-option-bar-hover: #CADBF9;
    --color-icon-bg-option-bar-active: #CADBF9;
    --color-person-card-bg: #fff;

    // 文本
    --color-text: #000;
    --color-text-dark: #7D7C78; 
    --color-text-inactive: #DCE8F8; // #858585;
    --color-text-active: #A9C9FA;
    --color-icon-text: #37352F;
    --color-icon-text-inactive: #61605C;
    --color-button-text: #73726E;
    --color-button-text-active: #000;
    --color-button-text-dark: #b8b8b8;

    // 图标
    --color-icon: #000;
    --color-icon-dark: #858585;
    --color-icon-hover: #DCE8F8;
    --color-icon-active: #A9C9FA;
    --color-option-bar-icon: #fff;
    --color-option-bar-icon-hover: #fff;
    --color-option-bar-icon-active: #409EFF;
    --color-button-icon: #73726E;
    --color-button-icon-hover: #fff;
    --color-button-icon-active: #fff;

    // 按钮
    --color-button: #fff;
    --color-button-inactive:  #E7E9EB;
    --color-button-hover: #ECF5FF; // #F5F7FA;
    --color-button-active: #A9C9FA;
    --color-small-button: transparent;
    --color-small-button-hover: #D7E6FB;
    --color-collapse-button: transparent; 
    --color-collapse-button-hover: #D7E6FB; 

    // 分割线
    --color-split-line: #DCDFE6;
    --color-split-line-hover: #DCDFE6;

    // 边框
    --color-border: #DCDFE6;

    // 阴影
    --color-box-shadow: rgba(55, 53, 47, 0.09);
}

.theme--dark {
    --color-bg: #1E1E1E;
    --color-aside-bg: #252526;
    --color-option-bar-bg: #333333;
    --color-text: #fff;
    --color-text-dark: #858585;
    --color-text-light: #409EFF;
    --color-icon: #fff;
    --color-icon-dark: #858585;
    --color-icon-light: #409EFF;
    --color-split-line: #D8DEE4;
}

